<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>quickstarthttp</string>
		<string>https</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>10-chinese-song-to-foreign-language.md</string>
		</array>
		<array>
			<string>59-joke-program.md</string>
		</array>
		<array>
			<string>243-nb-moment-to-wonderful-life.md</string>
		</array>
		<array>
			<string>a-moment-hehe.md</string>
		</array>
		<array>
			<string>baidu-sogou-come.md</string>
		</array>
		<array>
			<string>bash-basic.md</string>
		</array>
		<array>
			<string>beauty-exam.md</string>
		</array>
		<array>
			<string>blog-with-dropbox.md</string>
		</array>
		<array>
			<string>c-keyword.md</string>
		</array>
		<array>
			<string>change-wordpress-mail-from.md</string>
		</array>
		<array>
			<string>chrome-history-view.md</string>
		</array>
		<array>
			<string>chrome-http-to-https.md</string>
		</array>
		<array>
			<string>cmd-whois.md</string>
		</array>
		<array>
			<string>del-wordpress-google-font.md</string>
		</array>
		<array>
			<string>digitalocean-transfer.md</string>
		</array>
		<array>
			<string>disks-basic.md</string>
		</array>
		<array>
			<string>dns.md</string>
		</array>
		<array>
			<string>do-the-cashier.md</string>
		</array>
		<array>
			<string>dog-grass.md</string>
		</array>
		<array>
			<string>driving-license-step2-pass.md</string>
		</array>
		<array>
			<string>driving-license-step2.md</string>
		</array>
		<array>
			<string>driving-license-step3.md</string>
		</array>
		<array>
			<string>exin-wifi.md</string>
		</array>
		<array>
			<string>experience-lenovo-service.md</string>
		</array>
		<array>
			<string>find-nearby-by-geohash.md</string>
		</array>
		<array>
			<string>gae-chrome-goout.md</string>
		</array>
		<array>
			<string>get-credit-card.md</string>
		</array>
		<array>
			<string>get-duoshuo.md</string>
		</array>
		<array>
			<string>get-https.md</string>
		</array>
		<array>
			<string>get-icp.md</string>
		</array>
		<array>
			<string>get-ipad-mini-hand.md</string>
		</array>
		<array>
			<string>get-ipad-mini.md</string>
		</array>
		<array>
			<string>get-job.md</string>
		</array>
		<array>
			<string>get-mac.md</string>
		</array>
		<array>
			<string>get-wordpress-theme-plugins.md</string>
		</array>
		<array>
			<string>github.md</string>
		</array>
		<array>
			<string>google-pagespeed-tools.md</string>
		</array>
		<array>
			<string>graduated-today.md</string>
		</array>
		<array>
			<string>happiness-too-soon.md</string>
		</array>
		<array>
			<string>included-by-baidu.md</string>
		</array>
		<array>
			<string>install-nginx.md</string>
		</array>
		<array>
			<string>install-phpfpm.md</string>
		</array>
		<array>
			<string>install-repoforge.md</string>
		</array>
		<array>
			<string>ios-goagent.md</string>
		</array>
		<array>
			<string>ipad-mini-ios7-0-4-jailbreak.md</string>
		</array>
		<array>
			<string>jailbreak-plugins.md</string>
		</array>
		<array>
			<string>java-on-windows.md</string>
		</array>
		<array>
			<string>lastpass-password.md</string>
		</array>
		<array>
			<string>learn-c.md</string>
		</array>
		<array>
			<string>learn-github.md</string>
		</array>
		<array>
			<string>learn-linux-gather.md</string>
		</array>
		<array>
			<string>learn-markdowm.md</string>
		</array>
		<array>
			<string>learn-php.md</string>
		</array>
		<array>
			<string>leave-shenzhen-internship.md</string>
		</array>
		<array>
			<string>life-goes-on.md</string>
		</array>
		<array>
			<string>linux-commands.md</string>
		</array>
		<array>
			<string>linux-delete-folder.md</string>
		</array>
		<array>
			<string>linux-directory-structure.md</string>
		</array>
		<array>
			<string>linux-file-operations.md</string>
		</array>
		<array>
			<string>linux-file-system-structure.md</string>
		</array>
		<array>
			<string>linux-filesystem.md</string>
		</array>
		<array>
			<string>linux-fliesystem-mount.md</string>
		</array>
		<array>
			<string>linux-get-help.md</string>
		</array>
		<array>
			<string>linux-limit.md</string>
		</array>
		<array>
			<string>linux-system-directory-structure.md</string>
		</array>
		<array>
			<string>linux-user-basic.md</string>
		</array>
		<array>
			<string>linux-xue-xi-bi-ji-1.md</string>
		</array>
		<array>
			<string>mac-go2shell.md</string>
		</array>
		<array>
			<string>mac-software.md</string>
		</array>
		<array>
			<string>mac-wget.md</string>
		</array>
		<array>
			<string>modify-twenty-twelve-2.md</string>
		</array>
		<array>
			<string>modify-twenty-twelve-3.md</string>
		</array>
		<array>
			<string>modify-twenty-twelve.md</string>
		</array>
		<array>
			<string>move-to-aliyun.md</string>
		</array>
		<array>
			<string>nexus5-4g.md</string>
		</array>
		<array>
			<string>nexus5.md</string>
		</array>
		<array>
			<string>no-count-self.md</string>
		</array>
		<array>
			<string>no-internet-tough.md</string>
		</array>
		<array>
			<string>only-you-nb-seeker.md</string>
		</array>
		<array>
			<string>oracle-vm-virtualbox-x64.md</string>
		</array>
		<array>
			<string>php-server.md</string>
		</array>
		<array>
			<string>play-buluo-with-pc.md</string>
		</array>
		<array>
			<string>ps-watermark.md</string>
		</array>
		<array>
			<string>putty-copy.md</string>
		</array>
		<array>
			<string>read20131017.md</string>
		</array>
		<array>
			<string>read020131022.md</string>
		</array>
		<array>
			<string>resign.md</string>
		</array>
		<array>
			<string>resolution.md</string>
		</array>
		<array>
			<string>rethink.md</string>
		</array>
		<array>
			<string>shenzhen-again.md</string>
		</array>
		<array>
			<string>start-read.md</string>
		</array>
		<array>
			<string>taobaoshop.md</string>
		</array>
		<array>
			<string>tar.md</string>
		</array>
		<array>
			<string>telecom-exin-speed-up.md</string>
		</array>
		<array>
			<string>the-first-blog.md</string>
		</array>
		<array>
			<string>travel-wudangshan-again.md</string>
		</array>
		<array>
			<string>tu-po-verycd-wang-zhan-xia-zai-xian-zhi.md</string>
		</array>
		<array>
			<string>tucao-aipu.md</string>
		</array>
		<array>
			<string>tucao-correspondence.md</string>
		</array>
		<array>
			<string>use-fdisk.md</string>
		</array>
		<array>
			<string>use-virtualbox.md</string>
		</array>
		<array>
			<string>vim.md</string>
		</array>
		<array>
			<string>virtualbox-linux-centos.md</string>
		</array>
		<array>
			<string>website-dns-blocked.md</string>
		</array>
		<array>
			<string>website-more-change.md</string>
		</array>
		<array>
			<string>windows-md5-view.md</string>
		</array>
		<array>
			<string>wordpress-description-without-plugin.md</string>
		</array>
		<array>
			<string>wordpress-email-post.md</string>
		</array>
		<array>
			<string>wordpress-modify-page-sort.md</string>
		</array>
		<array>
			<string>wordpress-ping.md</string>
		</array>
		<array>
			<string>wordpress-plugin-install.md</string>
		</array>
		<array>
			<string>wordpress-robots.md</string>
		</array>
		<array>
			<string>wordpress-rss-feed.md</string>
		</array>
		<array>
			<string>xiaomi2-sell.md</string>
		</array>
		<array>
			<string>yourls.md</string>
		</array>
		<array>
			<string>quickstarthttp.md</string>
		</array>
		<array>
			<string>https.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Cloud</string>
</dict>
</plist>
